@model Movielandia.Common.ViewModels.MakeOrderBindingModel


<form asp-controller="Orders" asp-action="MakeOrder" method="post">
    <div class="d-flex align-items-center">
        <div class="mr-1">
            <input class="form-control" min="1" asp-for="TicketCount" />
            <span asp-validation-for="TicketCount" class="text-danger"></span>
        </div>
        <button type="submit" class="btn eventures-bg-color">Order</button>
    </div>
    <input type="hidden" asp-for="MovieId" value="@Model.MovieId">
</form>