@using Microsoft.AspNetCore.Identity
@model Movielandia.Common.ViewModels.MovieViewModel

@inject SignInManager<Movielandia.Models.MovielandiaUser> SignInManager
@inject UserManager<Movielandia.Models.MovielandiaUser> UserManager

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <div class="text-center">
        <img src="@Model.CoverUrl" width="200" />
        <h2>@Model.Title</h2>
        <button id="showMore">Show more</button>
    </div>

    <div id="showIt">
        <p>Creator, @Model.Creator</p>
        <p>Storyline @Model.Storyline</p>
    </div>

    <script>

        $(function () {
            $("#showMore").click(function () {
                $("#showIt").slideToggle();
            });
        });
    </script>
